@font-face {
  font-family: "DIN 1451 Std Engschrift";
  font-style: normal;
  font-weight: normal;
  src: url("../font/din-1451/DINEngschriftStd.woff") format("woff");
}

@font-face {
  font-family: "DIN 1451 Std Mittelschrift";
  font-style: normal;
  font-weight: normal;
  src: url("../font/din-1451/DINMittelschriftStd.woff") format("woff");
}
body {
  font-family: "DIN 1451 Std Mittelschrift";
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0;
  gap: 1.25rem;
  margin: 0;
}
h1 {
  margin: 0;
  font-weight: lighter;
  font-size: 1.75em;
}
p {
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0;
}
